@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,300,800);

/*************************
*******Typography******
**************************/

/*************************
*******Home Page******
**************************/

#main-slider {
    position: relative;
}

.no-margin {
    margin: 0;
    padding: 0;
}

#main-slider .carousel .carousel-content {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    line-height: 28px;
}

#main-slider .carousel .slide-margin {
    margin-top: 140px;
}

#main-slider .carousel h1 {
    font-size: 64px;
    font-weight: 700;
    margin: 0 0 20px;
    color: #fff;
}

#main-slider .carousel .btn-slide {
    padding: 0 30px;
    line-height: 42px;
    background: #EC5538;
    color: #fff;
    border-radius: 4px;
    margin-top: 40px;
    display: inline-block;
    font-size: 14px;
    margin-right: 10px;
    border: 1px solid #EC5538;
}

#main-slider .carousel .btn-slide.white {
    border: 1px solid rgba(255, 255, 255, 0.44);
    background: rgba(255, 255, 255, 0.26);
    color: #fff;
}

#main-slider .carousel .slider-img {
    text-align: right;
    position: absolute;
}

#main-slider .carousel .item {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0 !important;
    opacity: 0;
    top: 0;
    position: absolute;
    width: 100%;
    display: block !important;
    height: 730px;
    -webkit-transition: opacity ease-in-out 500ms;
    transition: opacity ease-in-out 500ms;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#main-slider .carousel .item:first-child {
    top: auto;
    position: relative;
}

#main-slider .carousel .item.active {
    opacity: 1;
    -webkit-transition: opacity ease-in-out 500ms;
    transition: opacity ease-in-out 500ms;
    z-index: 1;
}

#main-slider .prev,
#main-slider .next {
    position: absolute;
    top: 50%;
    background-color: #EC5538;
    color: #fff;
    display: inline-block;
    margin-top: -25px;
    height: 40px;
    line-height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 4px;
    z-index: 5;
}

#main-slider .prev:hover,
#main-slider .next:hover {
    background-color: #000;
}

#main-slider .prev {
    left: 10px;
}

#main-slider .next {
    right: 10px;
}

#main-slider .carousel-indicators {
    margin: 0;
    left: 0;
    width: 100%;
    bottom: 80px;
}

#main-slider .carousel-indicators li {
    width: 10px;
    height: 10px;
    background-color: transparent;
    margin: 0 5px;
    position: relative;
    border: 1px solid #fff;
}

#main-slider .carousel-indicators li.active {
    background-color: #EC5538;
    border: 1px solid #EC5538
}

#main-slider .active .animation.animated-item-1 {
    -webkit-animation: fadeInUp 300ms linear 300ms both;
    animation: fadeInUp 300ms linear 300ms both;
}

#main-slider .active .animation.animated-item-2 {
    -webkit-animation: fadeInUp 300ms linear 600ms both;
    animation: fadeInUp 300ms linear 600ms both;
}

#main-slider .active .animation.animated-item-3 {
    -webkit-animation: fadeInUp 300ms linear 900ms both;
    animation: fadeInUp 300ms linear 900ms both;
}

#main-slider .active .animation.animated-item-4 {
    -webkit-animation: fadeInUp 300ms linear 1200ms both;
    animation: fadeInUp 300ms linear 1200ms both;
}


/***********************
********* Footer ******
************************/
.footer-logo{
    display: inline-block;
}
#bottom {
    background: #f5f5f5;
    border-bottom: 5px solid #EC5538;
    font-size: 14px;
}

#bottom h3 {
    margin-top: 0;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 14px;
    color: #000;
    font-weight: 700;
}

#bottom ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#bottom ul li {
    display: block;
    padding: 4px 0;
}

#bottom ul li a {
    color: #808080;
    font-weight: 300;
}

#bottom ul li a:hover {
    color: #EC5538;
}

#bottom .widget {
    margin-bottom: 0;
    padding-left: 15px;
}

#footer {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
    background: #2e2e2e;
    font-weight: 300;
}

#footer a {
    color: #fff;
}

#footer a:hover {
    color: #EC5538;
}

#footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer ul>li {
    display: inline-block;
    margin-left: 15px;
}
